<!-- <h1>New Import</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">


        <h1>Select company</h2>

      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 card-import">
      <a href="javascript:history.back()"><i class="fas fa-arrow-circle-left arrow-back"></i></a>
      <h1>Import coupons</h1>
      <p class="modal-title">Select the companies</p>
      <%= render 'form', coupons_import: @coupons_import %>
    </div>
  </div>
</div>
</div>
