<h1>New Import</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">

        <p></p>

        <h1>Select company</h2>
        <%= render 'form', coupons_import: @coupons_import %>
      </div>
    </div>
  </div>
</div>
