
<div class="background-image display-fullscreen">
  <div class="row justify-content-center">

    <div class="gift-me-btn">
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>

