<div class="background-image display-fullscreen">
  <div class="justify-content-center limited-width">

    <div class="landing-page-list">
      <div>
        <ul>
          <li class="animation-fade-in animation-delay-1">Keep track of all your discounts <i class="far fa-check-circle"></i></li>
          <li class="animation-fade-in animation-delay-2">Have everything in one place <i class="far fa-check-circle"></i></li>
          <li class="animation-fade-in animation-delay-3">Your own discount wallet <i class="far fa-check-circle"></i></li>
        </ul>
      </div>

      <div class="gift-me-btn">
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary " %>
      </div>
    </div>

  </div>
</div>

