.gift-me-form {
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.3);
  h2 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  a {
    padding: 10px;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.transparent {
  display: none;
}

#submit-icon {
  display: block;
}

.isotope-item {
  border-color: $success
}

