.landing-page-list {
  color: $primary;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  ul {
    margin-bottom: 0px;
    margin-top: 250px;
    padding-left: 0px;
  }
  li {
    list-style: none;
    margin-top: 30px;
  }
}
