.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title_name {
  font-family: 'Righteous', cursive;
  color: #FD1015;
  font-size: 30px;
}

.align-right {
  text-align: right;
}
