.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
}

#white-burger{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#unbordered {
border-color: rgba(0, 0, 0, 0.0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title_name {
  font-family:  'Fredoka One', cursive;
  color: #F5F5F5;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0px;
}

.align-right {
  text-align: right;
}

.nav-item a{
  color: #F5F5F5;
}


#white_font {
  color: white;
}
