.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title_name {
  font-family:  'Fredoka One', cursive;
  color: #F5F5F5;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0px;
}

.align-right {
  text-align: right;
}

.nav-item a{
  color: #F5F5F5;
}


#white_font {
  color: white;
}
